 /*
    ==============================================
                ****** RESET ******
    ==============================================
*/

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
  --color-grey:#aaa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/
body {
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  font-size: 18px;
}

a:hover {
 color: #f72210;
}

/*
    ==============================================
                ****** HEAADER ******
    ==============================================
*/

.bars-icon{
  color: var(--color-grey);
}

.container-fluid {
  background-color: #f72210;
}

#search-bar {
  width: 60px;
}

#search-bar:active ~ #medium-nav {
  border:solid 1px red;
}

#search-bar:active {
  width: 100%;
}
