 /*
    ==============================================
                ****** RESET ******
    ==============================================
*/

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
  --color-grey:#aaa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/


/*
    ==============================================
                ****** HEAADER ******
    ==============================================
*/


.bars-icon{
  color: var(--color-grey);
}